.app{
  text-align:center;
  padding: 0 0 100px 0;
  font-size: 24px;
}

.game{
  width: 550px;
  height: 550px;
  display:flex;
  flex-wrap:wrap;
  margin: auto;
  padding: 50px;
  font-size: 50px;
}
.game-square{
  flex: 0 1 33.3%;
  line-height:150px;
  height:150px;
}

.topLeft, .middleLeft{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.topCenter, .middleCenter{
  border-bottom: 1px solid #000;
}

.topRight, .middleRight{
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.bottomRight{
  border-left: 1px solid #000;
  
}
.bottomLeft{
  border-right: 1px solid #000;
  
}